<h3>START YOU DATA MEMORY</h3>
<form #f="ngForm" (ngSubmit)="save()" *ngIf="memory">
    <mat-form-field class="width100">
        <input matInput type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="memory.title"
            placeholder="My Title">
    </mat-form-field>
    <mat-form-field class="width100">
        <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="memory.subtitle"
            placeholder="Sub Title">
    </mat-form-field>
    <button mat-raised-button type="submit">SAVE IT</button>

</form>