<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">

        <mat-nav-list>
            <a mat-list-item routerLink="/memory/write">Mi Libro</a>
            <a mat-list-item routerLink="/memory/chapter">Capítulos</a>
            <a mat-list-item routerLink="/memory/config">Configuración</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="white">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <div fxFlex="50">
                <span class="discovery" routerLink="/"> {{user.email}}<br />
                </span>
            </div>
            <div fxLayout="row" fxFlex="50" fxLayoutAlign="end start">
                <button mat-icon-button id="btnLogout" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>