<h3>Configura los emails a compartir tus memorias</h3>
<form #f="ngForm" (ngSubmit)="save()" *ngIf="config">
    <mat-form-field class="width100">
        <input matInput type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="config.email1"
            placeholder="First Email for share">
    </mat-form-field>
    <mat-form-field class="width100">
        <input type="text" matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="config.email2"
            placeholder="Second Email for Share">
    </mat-form-field>
    <br />
    <button mat-raised-button type="submit">GUARDAR</button>
</form>
<br />
<button mat-raised-button (click)="sendBook()">ENVIAR EMAIL'S</button>