<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of chapters; let i = index">
                <td>{{item.created | date: 'dd-MM-yyyy'}}</td>
                <td> <button mat-button routerLink="/memory/chapter/{{item.id}}" color="primary">
                        {{item.title}}</button>
                </td>

                <td>
                    <button mat-button (click)="remove(item.id, i)" color="warn">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>